@model KL.Models.ThongKe
@{
    ViewBag.Title = "ThongKe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Assets/vendor/jquery/jquery.min.js"></script>
<script src="~/Assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Assets/vendor/metisMenu/metisMenu.min.js"></script>
<script src="~/Assets/vendor/raphael/raphael.min.js"></script>
<script src="~/Assets/vendor/morrisjs/morris.min.js"></script>
<script src="~/Assets/vendor/morrisjs/morris.js"></script>
<script src="~/Assets/dist/js/sb-admin-2.js"></script>
<script src="~/Assets/dist/js/taskShow.js"></script>
<link href="~/Assets/dist/css/table.css" type="text/css" rel="stylesheet" />
<link href="~/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Assets/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
<link href="~/Assets/dist/css/sb-admin-2.css" rel="stylesheet">
<link href="~/Assets/vendor/morrisjs/morris.css" rel="stylesheet">
<link href="~/Assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<div id="wrapper">
    <!-- Navigation -->

    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">SMOF</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SmartOffice</a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" id="task" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
            </li>
            <li class="dropdown" id="noti">
            </li>
            <li>
                <a id="clLogin" href="@Url.Action("Login","Login")">
                    Log Out
                </a>
            </li>

        </ul>
    </nav>
</div>
<div id="page-wrapper">
    <div class="row" id="content">
       
        <div class="row">
            <div class="col-lg-6">
                <label for="" class="col-lg-3 col-form-label">From Date</label>
                <div class="col-lg-5">
                    <input type="date" class="form-control" id="fromDate" value=@DateTime.Now.ToString(" yyyy-MM-dd")>
                </div>

            </div>
            <div class="col-lg-6">
                <label for="" class="col-lg-3 col-form-label ">To Date</label>
                <div class="col-lg-5">
                    <input type="date" class="form-control" id="toDate" value=@DateTime.Now.ToString(" yyyy-MM-dd")>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label class="col-lg-3" for="sel1">Loai Cong Viec:</label>
                <div class="col-lg-5">
                    <select name="Loai CV" id="loaiCv">
                        <option value="6">--All--</option>
                        <option value="1">CV Ca Nhan</option>
                        <option value="2">CV Phong</option>
                        <option value="3">CVan</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <label class="col-lg-3" for="sel1">Trang Thai CV:</label>
                <div class="col-lg-5" >
                    <select class="dropdown dropbtn" name="" id="ttCv">
                        <option value="6">--All--</option>
                        <option value="0">CV Moi</option>
                        <option value="1">CV Dang Lam</option>
                        <option value="2">CV Request</option>
                        <option value="3">CV Da Xong</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label for="" class="col-lg-3  ">Go to page</label>
                <div class="col-lg-2">
                    <input placeholder="type a number" width="4" type="text" size="4" class="form-control" id="number" value="">
                </div>
            </div>
            <div class="col-lg-6">
                <label for="" class="col-lg-3  ">Số Lượng</label>
                <div class="col-lg-2">
                    <input placeholder="type a number" width="4" type="text" size="4" class="form-control" id="count" value="">
                </div>
            </div>
        </div>
        
        <button class="btn" type="submit" value="thong ke">Thong ke</button>
    </div>
    
    <div class="show">

    </div>
    <div class="pageindex">

    </div>
</div>
<script>
    $("button").click(function () {
        var t = new Object();
        t.pagsize = $("#count").val();
        t.search = $("#search").val();
        t.pagnumber = $("#number").val();
        t.fromdate = $("#fromDate").val();
        t.todate = $("#toDate").val();
        t.loaiCv = $("#loaiCv").find(":selected").attr('value');
        t.ttCv = $("#ttCv").find(":selected").attr('value');
        $.ajax({
            url: "/Events/ShowThongKe/",
            type: "POST",
            data: t,
            success: function (data) {
                $('.show').empty().append($(data));
                $.ajax({
                    url: "/Events/Paging/",
                    type: "POST",
                    success: function (data) {
                        $('.pageindex').empty().append($(data));
                    }
                });
            }
        });
    });
</script>



