<!DOCTYPE html>
@{
    var chucvu = new List<string>() { "Nhân Viên", "Trưởng Phòng", "Lãnh Đạo" };
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <style type=”text/css”>
        label {
            background-color: #9C3;
            padding: 5px 12px;
        }

        input[type=radio] {
            display: none;
        }

            input[type=radio]:checked + label {
                background-color: #C33;
            }
    </style>
    <title>@ViewBag.title</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="~/Assets/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/Assets/vendor/morrisjs/morris.css" rel="stylesheet">
    <link href="~/Assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="~/Assets/vendor/raphael/raphael.min.js"></script>
    <script src="~/Assets/vendor/morrisjs/morris.min.js"></script>
    <script src="~/Assets/vendor/morrisjs/morris.js"></script>
    <script src="~/Assets/dist/js/sb-admin-2.js"></script>
    <script src="~/Assets/dist/js/taskShow.js"></script>
</head>
<body>
    
    <div id="table">
        @RenderBody()
        <div id="tal"></div>
    </div>
    

</body>
</html>
