@model KL.Models.DatabaseModels.HoSoNhanSu

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
            <div class="">
                <input type="radio" id="toggle-on" name="toggle" checked>
                <label for="toggle-on">On</label>
                <input type="radio" id="toggle-off" name="toggle">
                <label for="toggle-off">Off</label>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Cong Viec Moi
                </div>

                <div class="card-body hidden toggle-on" id="0">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Stt</th>
                                    <th>Ten Cong Viec</th>
                                    <th>Noi Dung Tom Tat</th>
                                    <th>File Dinh Kem</th>
                                    <th>Thoi Gian Hoan Thanh</th>
                                </tr>
                            </thead>
                            @foreach (var cv in Model.CongViecPhongs.ToList().FindAll(m => m.ChuTri == 1))
                            {
                                <tbody>
                                    <tr>
                                        <td>@cv.NoiDungChitiet</td>
                                        <td>@cv.NoiDungChitiet</td>
                                        <td>@cv.NgayHoanThanh</td>
                                        <td></td>
                                        <td>2011/04/25</td>
                                        <td><button id="add">add</button></td>
                                    </tr>
                                </tbody>
                            }


                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<button id="myBtn">Open Modal</button>

<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="card-body toggle-on" id="0">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Stt</th>
                            <th>Ten Cong Viec</th>
                            <th>Noi Dung Tom Tat</th>
                            <th>Nguoi tham gia</th>
                            <th>Thoi Gian Hoan Thanh</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td></td>
                            <td><input type="text" id="noidung" /></td>
                            <td></td>
                            <td></td>
                            <td>2011/04/25</td>
                            <td><button id="add">add</button></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>
<!-- Modal content -->



<script>

    $('input:radio').change(function () {


        var radio = $('input:radio').each(function () {
            var clas = "." + $(this).attr('id');
            if (this.checked) $(clas).removeClass('hidden');
            else $(clas).addClass('hidden');
        });
    });
    $('.tuan').click(function () {
        $(this).addClass('hidden');
    });
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
