
<a href="#"><i class="fa fa-files-o fa-fw"></i> Quản Lý Công Việc <span class="fa arrow"></span></a>
<ul class="nav nav-second-level">
    <li>
        <a id="newCn" href="#">Công Việc Mới </a>
    </li>
    <li>
        <a href="login.html">Công Việc Đang Làm </a>
    </li>
    <li>
        <a href="login.html">Công Việc Đã Hoàn Thành </a>
    </li>
</ul>