@model KL.Models.DatabaseModels.HoSoNhanSu
<div id="left">
    <div id="wrapper">
        <!-- Navigation -->

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">SMOF</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SmartOffice</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" id="task" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                        @{Html.RenderAction("ShowTaskPercent", "Events", new {userID=Model.ID });}
                </li>
                <li class="dropdown" id="noti">
                </li>
                <li>
                    <a id="clLogin" href="@Url.Action("Login","Login")">
                        Log Out
                    </a>
                </li>

            </ul>
        </nav>
    </div>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    @{Html.RenderAction("Search", "Events", new { Id = Model.ID });}
                </li>

                <li id="leftCn">
                    @{
                        if (Int32.Parse(Model.ChucVu.MaChucVu) >= 0)
                        {
                            Html.RenderAction("ShowLeftCaNhan", "Left", new { Id = Model.ID });
                        }

                    }

                </li>
                <li id="leftPg">
                    @{
                        if (Int32.Parse(Model.ChucVu.MaChucVu) == 2)
                        {
                            Html.RenderAction("ShowLeftTruongPhong", "Left", new { Id = Model.ID });
                        }

                    }

                </li>
                <li id="vtleft">
                    @{
                        if (Int32.Parse(Model.ChucVu.MaChucVu) == 4)
                        {
                            Html.RenderAction("ShowLeftVanThu", "Left", new { Id = Model.ID });
                        }

                    }

                </li>
                <li id="lanhdao">
                    @if (Int32.Parse(Model.ChucVu.MaChucVu) == 3)
                    {
                        Html.RenderAction("ShowLeftLanhDao", "Left", new { Id = Model.ID });
                    }

                </li>
                <li>
                    <a href="@Url.Action("ThongKe","Events")"> Thong ke<span class=""></span></a>
                </li>
            </ul>
        </div>
    </div>
    <script>
        function refresh() {
                            $.ajax({
                                type: "POST",
                                url: "/Left/ShowLeftTruongPhong/",
                                data: {Id:@Model.ID},
                                            success: function (data) {

                                    $('#leftPg').empty();
                                    $('#leftPg').append($(data));
                                    }
                            });
        };
        function refreshPr() {
                $.ajax({
                    type: "POST",
                    url: "/Left/ShowLeftNhanVien?hsId=@Model.ID",
            success: function (data) {
                $('#leftCn').empty();
                $('#leftCn').append($(data));

                    }
                });
        };
        function refreshld() {
                $.ajax({
                    type: "POST",
                    url: "/Left/ShowLeftLanhDao?Id=@Model.ID",
            success: function (data) {
                $('#lanhdao').empty();
                $('#lanhdao').append($(data));

                    }
                });
        };
        function refreshvt() {
                $.ajax({
                    type: "POST",
                    url: "/Left/ShowLeftVanThu?Id=@Model.ID",
            success: function (data) {
                $('#vtleft').empty();
                $('#vtleft').append($(data));

                    }
                });
        };

    </script>



</div>