@model KL.Models.DatabaseModels.HoSoNhanSu
<div id="left">

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </li>

                <li id="leftCn">
                    @{
                        if (Int32.Parse(Model.ChucVu.MaChucVu) >= 0)
                        {
                            Html.RenderAction("ShowLeftCaNhan", "Left", new { canhan = Model.CongViecCaNhans.ToList() });
                        }

                    }
                    <script>
                        $("#newCn").click(function () {
                            var tt = refreshPr();
        $.ajax({
            type: "POST",
            url: "/Content/ShowContent?hosoId=@Model.ID&maChucvu=@Model.ChucVu.MaChucVu",
            success: function (data) {
                $('#tab').empty();
                $('#tab').append($(data));

            }
        });
        $.ajax({
                    type: "POST",
                    url: "/Left/Left?hosoId=@Model.ID",
                    success: function (data) {
                        $('#leftCn').empty();
                        var liTag = $(data).find('#leftCn');
                        $('#leftCn').append($(liTag));

                    }
                });
        });
                        $("#inPro").click(function () {
                            $.ajax({
                                type: "POST",
                                url: "/Content/ShowWorking?hosoId=@Model.ID&maChucvu=@Model.ChucVu.MaChucVu",
                                success: function (data) {
                                    $('#tab').empty();
                                    $('#tab').append($(data));
                                }
                            });
                            var tt = refreshPr();
                        });

         $("#request").click(function () {
        $.ajax({
            type: "POST",
            url: "/Content/ShowRequest?hosoId=@Model.ID&maChucvu=@Model.ChucVu.MaChucVu",
            success: function (data) {
                $('#tab').empty();
                $('#tab').append($(data));
            }
        });
         var tt = refreshPr();
        });
        $("#done").click(function () {
            $.ajax({
                type: "POST",
                url: "/Content/ShowDone?hosoId=@Model.ID&maChucvu=@Model.ChucVu.MaChucVu",
                success: function (data) {
                    $('#tab').empty();
                    $('#tab').append($(data));
                }
            });
         var tt = refreshPr();
            });
            function refreshPr() {
                $.ajax({
                    type: "POST",
                    url: "/Left/Left?hsId=@Model.ID",
            success: function (data) {
                $('#leftCn').empty();
                var liTag = $(data).find('#leftCn');
                $('#leftCn').append($(liTag));

                    }
                });
            };
                    </script>
                </li>
                <li id="leftPg">
                    @{
                        if (Int32.Parse(Model.ChucVu.MaChucVu) >= 1)
                        {
                            Html.RenderAction("ShowLeftTruongPhong", "Left", new { truongphong = Model.CongViecPhongs.ToList() });
                        }

                    }
                    <script>
                        $("#newPg").click(function () {
                            var rf = refresh();
        $.ajax({
            type: "POST",
            url: "/Content/ShowContentPg?hosoId=@Model.ID",
            success: function (data) {
                $('#tab').empty();
                $('#tab').append($(data));

            }
            });
        
        });



        $("#inProPg").click(function () {
            alert("in process");
        $.ajax({
            type: "POST",

            url: "/Content/ShowWorkingPg?hosoId=@Model.ID",
            success: function (data) {
                $('#tab').empty();
                $('#tab').append($(data));
            }
        });
         var rf = refresh();
        });

         $("#requestPg").click(function () {
        $.ajax({
            type: "POST",
            url: "/Lead/ShowRequest?hosoId=@Model.ID",
            success: function (data) {
                $('#tab').empty();
                $('#tab').append($(data));
            }
        });
         var rf = refresh();
                        });
                        
                        $("#commitPg").click(function () {
                            $.ajax({
                                type: "POST",
                                url: "/Content/ShowCommitPg?hosoId=@Model.ID",
                                success: function (data) {
                                    $('#tab').empty();
                                    $('#tab').append($(data));
                                }
                            });
                            var rf = refresh();
                        });
        $("#donePg").click(function () {
            $.ajax({
                type: "POST",
                url: "/Lead/ShowDone?hosoId=@Model.ID",
                success: function (data) {
                    $('#tab').empty();
                    $('#tab').append($(data));
                }
            });
         var rf = refresh();
                            });
                       function refresh() {
                            $.ajax({
                    type: "POST",
                    url: "/Left/Left?hsId=@Model.ID",
                    success: function (data) {
                        $('#leftPg').empty();
                        var liTag = $(data).find('#leftPg');
                        $('#leftPg').append($(liTag));


                    }
                });
       
                        };
                    </script>
                </li>
                <li>
                    <a href="#"><i class="fa fa-files-o fa-fw"></i> Thong ke<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="blank.html">Blank Page</a>
                        </li>
                        <li>
                            <a href="login.html">Login Page</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>


    
    
</div>