@model int[]
<a href="#"><i class="fa fa-files-o fa-fw"></i> Quản Lý Công Việc <span class="fa arrow"></span></a>
<ul class="nav nav-second-level">
    <li>
        <a id="newCn" href="#">Công Việc Mới @Model[0]</a>
    </li>
    <li>
        <a href="login.html">Công Việc Đang Làm @Model[1]</a>
    </li>
    <li>
        <a href="login.html">Công Việc Đã Hoàn Thành @Model[2]</a>
    </li>
</ul>
