@model List<KL.Models.DatabaseModels.PhanHoi>
<div id="phoicn" class="modal1">
    <div class="modal-content">
        <div class="modal-header">
            <span id="ph" class="close">&times;</span>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Noi dung phan hoi</th>
                            <th>Thoi gian phan Hoi</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="">
                                <td>@item.NoiDung</td>
                                <td>@item.Datecreate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(document).click(function (event) {
            if (event.target == $('#phoicn')[0]) {

                $('#phoicn').hide();
            };

        });
        $('span#chutri').click(function () {
            $('#myModal').hide();
        });
    </script>
</div>
<link href="~/Assets/dist/css/Style.css" rel="stylesheet" />
