@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using Newtonsoft.Json;
@model KL.Models.DatabaseModels.HoSoNhanSu
@{Html.RenderAction("Left", "Left", new { hsId = Model.ID });}
<div id="tab"></div>
